<form class="main-form first">
  <div class="main-form__title">
    <h1>Sign-up</h1>
  </div>
  <div class="main-form__body">
    <input id="name" class="main-form__input" type="text" placeholder="Username" />
    <input id="account" class="main-form__input" type="email" placeholder="Email Address" />
    <input id="password" class="main-form__input" type="password" placeholder="Password" />
    <input class="main-form__input" type="password" placeholder="Repeat Password" />
    <button class="btn">Clear</button>
    <button id="enter" class="btn">Register</button>
  </div>
</form>  